extends nav

block post

    div(class='post-container')
        div(class='rounded post-img-container')
            img(src=`${post.image}` class='rounded')

        p Likes: !{post.likes}

        form(action=`/post/likePost/${post.id}?_method=PUT`, method="POST" class='post-like') 
            button(type="submit" class='btn btn-primary') Like

        //- if an owner of a post is logged in, then they can delete their own post
        if post.user == user.id
            form(action=`/post/deletePost/${post.id}?_method=DELETE`, method="POST" class='post-delete') 
                button(type="submit" class='btn btn-danger') Trash

        h2(class='mt-3') !{post.title}

        <input type="checkbox" id="expanded">
        p(class='caption') !{post.caption}
        <label id='read-more-less' for="expanded" role="button">read more</label>